<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-config.dtd">

<configuration>
	<settings>
		<!-- 这个配置使全局的映射器启用或禁用缓存 -->
		<setting name="cacheEnabled" value="true"/>
		<!-- 全局启用或禁用延迟加载。当禁用时，所有关联对象都会即时加载 -->
		<setting name="lazyLoadingEnabled" value="true"/>
		<setting name="multipleResultSetsEnabled" value="true"/>
		<setting name="useColumnLabel" value="true"/>
		<setting name="defaultExecutorType" value="REUSE"/>
		<setting name="defaultStatementTimeout" value="25000"/>
		<setting name="aggressiveLazyLoading" value="true" />
		<setting name="logImpl" value="SLF4J" /><!-- 日志实现包 -->
	</settings>

	<!-- 进行mybatis 配置 -->
	<typeAliases>
		<!-- 为类型 起了别名 -->
		<typeAlias type="cn.yjxxclub.shijie.monitor.model.Alarm" alias="Alarm"/>

	</typeAliases>
	<!--如分页执行语句前调用插件， -->
	<!-- <plugins> <plugin interceptor="com.github.pagehelper.PageHelper"> <property 
		name="dialect" value="mysql"/> </plugin> </plugins> -->

</configuration> 